*, *::before, *::after {
    box-sizing: border-box;
}

html, body{
padding: 0;
margin: 0;
height: 100vh;
}

#wrapper {
display: flex;
}

.content {
display: flex;
flex-direction: column;
}

.display {
display: grid;
}

.nav {
    display: flex;
    flex-direction: column;
}

.tab {
    border: 1px solid black;
    padding: 10px;
    width: 100vw;
    text-align: center;
}

.modal {
 display: none;
 position: fixed;
 z-index: 1;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 overflow: hidden;
 background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
background-color: #fefefe;
margin: 15% auto;
padding: 15px 20px;
width: 75vw;
border-radius: 3px;
}

#option {
    margin-bottom: 10px;
}

.prio {
    display: flex;
    margin-bottom: 10px;
}

.radio {
    margin-left: 0px;
    margin-right: 8px;
}

form {
    display: flex;
    flex-direction: column;
}

form > input {
    margin-bottom: 10px;
}